.detail {
    font-size: 16px!important;
    padding: 10px;
}
.price {
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.price span {
    font-size: 20px;
    color: red;
    margin-right: 10px;
}
.mui-content img {
    vertical-align: top;
}
.size {
    padding: 10px;
}
.size span {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.num {
    padding: 15px;
    font-size: 14px;
    line-height: 28px;
    border-top: 1px solid #ccc;
}
.num input {
    float: left;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    text-align: center;
}
.num span {
    float: left;
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 28px;
}
.num .num-num {
    padding-right: 10px;
}
.btns {
    padding: 10px;
    overflow: hidden;
}
.btns a {
    float: left;
    width: 50%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
}
.btns a:first-child {
    background-color: deeppink;
}
.btns a:last-child {
    background-color: orange;
}
.active {
    background-color: red!important;
}